/.idea/.gitignore
/.idea/.name
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/Voice_Commands.iml

/vosk-model-small-ru-0.22/
/vosk-model-ru-0.42/
/vosk-model-small-en-us-0.15/
/vosk-model-en-us-0.22/

ярлыки/напоминалка.txt
ярлыки/*.lnk
ярлыки/*.url



/models/*.bin
/apps/*.png
/apps/*.txt
/__pycache__/
/apps/__pycache__/
/.vs/


/voskmodels/*
/apps/screenshot.ico
/apps/скриншот.lnk
