/ярлыки/
/.idea/.gitignore
/.idea/.name
/vosk-model-small-ru-0.22/graph/disambig_tid.int
/vosk-model-small-ru-0.22/ivector/final.dubm
/vosk-model-small-ru-0.22/ivector/final.ie
/vosk-model-small-ru-0.22/ivector/final.mat
/vosk-model-small-ru-0.22/am/final.mdl
/vosk-model-small-ru-0.22/ivector/global_cmvn.stats
/vosk-model-small-ru-0.22/graph/Gr.fst
/vosk-model-small-ru-0.22/graph/HCLr.fst
/vosk-model-small-ru-0.22/conf/mfcc.conf
/.idea/misc.xml
/vosk-model-small-ru-0.22/conf/model.conf
/.idea/modules.xml
/vosk-model-small-ru-0.22/ivector/online_cmvn.conf
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/vosk-model-small-ru-0.22/README
/vosk-model-small-ru-0.22/ivector/splice.conf
/.idea/vcs.xml
/.idea/Voice_Commands.iml
/vosk-model-small-ru-0.22/graph/phones/word_boundary.int
