/.idea/*
.idea/workspace.xml
/__pycache__/

voskmodels/vosk-model-small-ru-0.22/
voskmodels/vosk-model-ru-0.42/
voskmodels/vosk-model-small-en-us-0.15/
voskmodels/vosk-model-en-us-0.22/

ярлыки/напоминалка.txt
ярлыки/*.lnk
ярлыки/*.url


/apps/*.ico
/apps/*.png


/token.txt

