colorama
keyboard
pyautogui
pyaudio
vosk
requests
python_translator
pyttsx3
pypiwin32
pywin32
py_win_keyboard_layout
psutil
PyGetWindow
tqdm

discord.py
discord
g4f

## (apps requirements)
pynput
Pillow
pytesseract
pyperclip
imageio
sounddevice
pydub
