colorama
keyboard
pyautogui
pyaudio
vosk
requests
quote
googletrans==4.0.0-rc1
python-dotenv
pyttsx3
pypiwin32
pywin32
py_win_keyboard_layout

pygpt4all
# googletrans
# http://balabolka.site/pavel.windows10.zip